


<!-- Taken from https://asphaltbot.com -->



























































<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Pogy - 404</title>
<link rel="icon"
    type="image/png"
    href="<%= domain %>/logo.png"> 
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
</head>
<body>
<script type="82bce08dfd744ac342171454-text/javascript">
   window.onerror = function(error) {
     
     // silence annoying errors
     return true;
     
   }
   
    setInterval(function() {
      if (hyperEnable == undefined) return;
      var cur = player.getCurrentTime();
      if (Math.round(cur) == 139) {
        hyperEnable();
      } else if (cur >= 215 && cur < 216) {
        hyperDisable();
      }
    }, 1);
  </script>
<canvas width="1366" height="581">
</canvas>

<img id="memeplane" src="<%= domain %>/404/plane.png">





<div class="error-page">
    <div>


        <h1 data-h1="404">404</h1>
        <p data-p="NOT FOUND">NOT FOUND</p>
      
    </div>
</div>
<div id="particles-js"></div>
</div>
<div class="images">
<img id="img-eyes" src="<%= domain %>/404/b1nzybanhammer.png">
<img id="img-b1nzyavatar" src="<%= domain %>/404/b1nzyavatar.png">
<img id="img-b1nzy" src="<%= domain %>/404/b1nzy.png">

<img id="img-jake" src="<%= domain %>/404/jake.gif">
<img id="img-lul" src="<%= domain %>/404/lul.png">

<img id="img-hyperthink" src="<%= domain %>/404/hyperthink.png">
<img id="img-thonkang" src="<%= domain %>/404/thonkang.png">
<img id="img-feelsthinking" src="<%= domain %>/404/feelsthinking.png">
<img id="img-owo" src="<%= domain %>/404/owo.png">
<img id="img-uwu" src="<%= domain %>/404/uwu.png">
<img id="img-banhammer" src="<%= domain %>/404/banhammer.png">
<img id="img-b1nzybanhammer" src="<%= domain %>/404/b1nzybanhammer.png">
<img id="img-eggplant" src="<%= domain %>/404/b1nzybanhammer.png">
<img id="img-hypergibbs" src="<%= domain %>/404/hypergibbs.png">
<img id="img-asphalt" src="<%= domain %>/logo.png">
</div>
<script type="82bce08dfd744ac342171454-text/javascript" src="<%= domain %>/js/404.js"></script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="82bce08dfd744ac342171454-|49" defer=""></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"628a50c96fd00fee","r":1,"si":10,"version":"2021.2.0"}'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js'></script><script>particlesJS("particles-js", {
  "particles": {
    "number": {
      "value": 5,
      "density": {
        "enable": true,
        "value_area": 800
      }
    },
    "color": {
      "value": "#fcfcfc"
    },
    "shape": {
      "type": "circle",
    },
    "opacity": {
      "value": 0.5,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 1,
        "opacity_min": 0.2,
        "sync": false
      }
    },
    "size": {
      "value": 140,
      "random": false,
      "anim": {
        "enable": true,
        "speed": 10,
        "size_min": 40,
        "sync": false
      }
    },
    "line_linked": {
      "enable": false,
    },
    "move": {
      "enable": true,
      "speed": 8,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
    "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": false
      },
      "onclick": {
        "enable": false
      },
      "resize": true
    }
  },
  "retina_detect": true
});</script>
</body>
</html>
<style>
html, body {
  height: 100%;
  overflow: hidden;
}

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.error-page h1 {
  font-size: 30vh;
  font-weight: bold;
  position: relative;
  margin: -8vh 0 0;
  padding: 0;
}
.error-page h1:after {
  content: attr(data-h1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: transparent;
  /* webkit only for graceful degradation to IE */
  background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #9b59b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
  animation: animateTextBackground 10s ease-in-out infinite;
}
.error-page h1 + p {
  color: #d6d6d6;
  font-size: 8vh;
  font-weight: bold;
  line-height: 10vh;
  max-width: 600px;
  position: relative;
}
.error-page h1 + p:after {
  content: attr(data-p);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: transparent;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

#particles-js {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes animateTextBackground {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}
@media (max-width: 767px) {
  .error-page h1 {
    font-size: 32vw;
  }
  .error-page h1 + p {
    font-size: 8vw;
    line-height: 10vw;
    max-width: 70vw;
  }
}
a.back {
  position: fixed;
  right: 40px;
  bottom: 40px;
  background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  padding: 15px 30px;
  text-decoration: none;
  transition: 0.25s all ease-in-out;
}
a.back:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}
button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} menu,article,aside,details,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}/*# sourceMappingURL=normalize.min.css.map */

html,body{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;height:100%;overflow:hidden}.images{display:none}#memeplane{zoom:.5;-webkit-animation:fly-plane 50ms infinite ease-in-out;animation:fly-plane 50ms infinite ease-in-out}@keyframes fly-plane{0%{transform:translate(-7px,4px) rotate(-45deg)}25%{transform:translate(4px,-8px) rotate(-45deg)}50%{transform:translate(-5px,3px) rotate(-45deg)}75%{transform:translate(4px,8px) rotate(-45deg)}100%{transform:translate(7px,6px) rotate(-45deg)}}@keyframes fly-plane-extreme{0%{transform:translate(-12px,10px) rotate(-45deg)}25%{transform:translate(11px,-13px) rotate(-45deg)}50%{transform:translate(-12px,14px) rotate(-45deg)}75%{transform:translate(12px,13px) rotate(-45deg)}100%{transform:translate(13px,14px) rotate(-45deg)}}canvas{position:absolute;top:0;left:0;width:100vw;height:100vh;z-index:-50}.text{background:rgba(0,0,0,.4)}.text>h1{position:center;color:#fff;font-weight:700;font-size:5.5em;padding:.2em;padding-bottom:0}h1{margin:.2em 0}
</style>