<%- include("partials/head", { arc, bot, user, path, description, title: "Pogy - Contact"}) %>

        <link rel="stylesheet" href="<%domain%>/css/contact.css" />
        <script src="<%domain%>/js/contact.js"></script>

    <body>
     <% if (user) { %>
     <script>var userID = <%= user.
     id %> </script>
        <div class="container-contact">
            <div class="wrap-contact">
                <form class="contact-form validate-form">
                    <span class="contact-form-title"></span>
                    <div class="wrap-input rs1-wrap-input">
                        <span class="label">Discord Name</span>
                        <input disabled class="input" type="text" name="name" placeholder="Discord Name"
                            
                                value="<%= user.username %>#<%= user.discriminator %>"/>

                        <span class="input-line"></span>
                    </div>
                    <div class="wrap-input rs1-wrap-input">
                        <span class="label">Email (optional)</span>
                        <input class="input" type="email" name="email" placeholder="Your Email"
                            
                        />
                        <span class="input-line"></span>
                    </div>

                    <div class="wrap-input">
                        <span class="label">Message</span>
                        <textarea class="input" name="message" placeholder="Your Message" required></textarea>
                        <span class="input-line"></span>
                    </div>
                    <div>
      <span id="captcha" style="color:red"></span>
      <br>
      <div id="example1"></div>
     </div>
       <br>
                    <br>
                     <br>
                    <br>
                      <br>
                      <br>
                    <div class="container-contact-form-btn">
                    
      
                        <button type="submit">Send</button>
                    </div>
                </form>
              
            </div>
        </div>
         <% } else { %>
   <div class="container-contact">
            <div class="wrap-contact">
                <form class="contact-form validate-form">
                    <span class="contact-form-title"></span>
                    <div class="wrap-input rs1-wrap-input">
                        <span class="label">Discord Name</span>
 <input class="input" type="text" name="name" placeholder="Discord Name" disabled/>
                        <span class="input-line"></span>
                    </div>
                    <div class="wrap-input rs1-wrap-input">
                        <span class="label">Email (optional)</span>
                        <input class="input" type="email" name="email" placeholder="Email"
                            
                        />
                        <span class="input-line"></span>
                    </div>
                    <div class="wrap-input">
                        <span class="label">Message</span>
                        <textarea class="input" name="message" placeholder="Your Message"></textarea>
                        <span class="input-line"></span>
                    </div>
                    <div class="container-contact-form-btn">
                    <p>You must be logged in to contact us.</p>
                   
                    </div>
                    <br>
                    <br>
                 
                     <div class="container-contact-form-btn">
             <button  onclick="window.location.href='/login';" type="button">Login</button>
             </div>
                </form>
              
            </div>
        </div>
          <% } %>
    </body>
</html>
    <script type="text/javascript">
      var verifyCallback = function(response) {
        alert(response);
      };
      var widgetId1;
      var widgetId2;
      var onloadCallback = function() {
        // Renders the HTML element with id 'example1' as a reCAPTCHA widget.
        // The id of the reCAPTCHA widget is assigned to 'widgetId1'.
        widgetId1 = grecaptcha.render('example1', {
          'sitekey' : '6LfG_H8aAAAAAKFRc2P0w5-slk2yz--FCuhQhS4O',
          'theme' : 'dark'
        });
        widgetId2 = grecaptcha.render(document.getElementById('example2'), {
          'sitekey' : '6LfG_H8aAAAAAKFRc2P0w5-slk2yz--FCuhQhS4O'
        });
        grecaptcha.render('example3', {
          'sitekey' : '6LfG_H8aAAAAAKFRc2P0w5-slk2yz--FCuhQhS4O',
          'callback' : verifyCallback,
          'theme' : 'dark'
        });
      };
    </script>

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script>

  <%- include("partials/footer") %>