<%- include("partials/head", { arc, bot, user, path, title: "Pogy - Dashboard" }) %>
<div class="content">

<h2>SELECT A SERVER</h2>

<% if (!userExists) { %>
    <div style="width: 512px;
	 padding: 16px;
	 margin: 8px;  background-color: rgba(77, 77, 255, 0.05);">
      <h3 style="color: #4d4dff; 	 margin-top: 0;
	 margin-bottom: 8px;
	 font-size: 18px;
	 font-family: 'Poppins', sans-serif;">Hey <%= user.username%>!</h3>
      <p style="margin: 0;
	 font-size: 14px;
	 font-family: 'Open Sans', sans-serif;
	 color: #555;">Looks like you aren't in Pogy's Support Server. <a href="/support">Join Here!</a></p>
    </div>
  <% } %>

<div class="servers">
<% user.guilds.forEach(guild => {
 const permsOnGuild = new perms(guild.permissions);
 if(!permsOnGuild.has("MANAGE_GUILD")) {
 return
 }
%>
<% if (guild.icon) {
 iconurl = "https://cdn.discordapp.com/icons/" + guild.id + "/" + guild.icon + ".png??size=512";
} else {
 iconurl = "https://cdn.glitch.com/82fe990a-7942-42e3-9790-39807ccdb9f6%2Ficon-404-dark.png?v=1602427904949";
}
%>

 
  <% if (shardedbot.broadcastEval(`this.guilds.cache.get("${guild.id}")`)) { %>
  <div class="server">
   <div class="icon-and-name">
<img class="server-icon" src="<%= iconurl %>" alt="<% guild.name %>"/>
  <p class="guild-name"><%= guild.name %></p>
  </div>
    <a class="edit button" href="/dashboard/<%= guild.id %>">Dashboard</a>
</div>
  <% } %>

  <% }); %>
  <% user.guilds.forEach(guild => {
 const permsOnGuild = new perms(guild.permissions);
 if(!permsOnGuild.has("MANAGE_GUILD")) {
 return
 }
%>
<% if (guild.icon) {
 iconurl = "https://cdn.discordapp.com/icons/" + guild.id + "/" + guild.icon + ".png??size=512";
} else {
 iconurl = "https://cdn.glitch.com/82fe990a-7942-42e3-9790-39807ccdb9f6%2Ficon-404-dark.png?v=1602427904949";
}
%>

 
  <% if (!shardedbot.broadcastEval(`this.guilds.cache.get("${guild.id}")`)) { %>
  <div class="server">
   <div class="icon-and-name">
<img class="server-icon" src="<%= iconurl %>" alt="<% guild.name %>"/>
  <p class="guild-name"><%= guild.name %></p>
  </div>
 <a href='<%= `${https}discordapp.com/oauth2/authorize?client_id=767705905235099658&scope=bot&guild_id=${guild.id}&response_type=code&redirect_uri=${encodeURIComponent(`${domain}/window`)}&permissions=490073207` %>' class="add button">Add Bot</a>
</div>
  <% } %>

  <% }); %>
</div>



<%- include("partials/footer") %>
<script>
    function PopupCenter(e, n, t, i) {
        var o = void 0 != window.screenLeft ? window.screenLeft : screen.left,
            d = void 0 != window.screenTop ? window.screenTop : screen.top,
            c = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width,
            w = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height,
            r = c / 2 - t / 2 + o, h = w / 2 - i / 2 + d,
            s = window.open(e, n, "scrollbars=yes, width=" + t + ", height=" + i + ", top=" + h + ", left=" + r);
        window.focus && s.focus()
    }
</script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;
600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;
600&display=swap');

</style>
