<%- include("partials/head", { arc, bot, user, path, description, title: "Pogy - Home" , url, image }) %>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous">
<div class="page-content">
<input style="display: none" type="text" value="<%=  bot.guilds.cache.reduce((a, g) => a + g.memberCount, 0) %>" id="size">
         <input style="display: none" type="text" value="<%= bot.guilds.cache.size %>" id="size2">
<% if (user) { %>


<body>

 <div class="full-height">
    <div class="section-title-wrap">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center parallax-fade-top">
            <p>POGY</p>
            <h1>The best Multipurpose <br>Discord Bot</h1>
              <p style="font-size: 13px">Serving <b  id="odometer" class="odometer"><%=  all_users %></b> members in <b  id="odometer2" class="odometer"><%= all_servers %> guilds</b>.</p>
          <div class='buttons flex'>
                    <a class='button btn btn-blurple' href='/invite'><span><i class="fab fa-discord fa-2x"></i> Add
                            to Discord</span></a>
                    <a class='button btn btn-default' href='/dashboard'><span><i class="fa fa-bar-chart" aria-hidden="true"></i> Dashboard</span></a>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>




<div class="content-container">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


 	<div id="os2" class="product-row">
  				<div class="product-image"><img src="<%= domain %>/cards/logging.png"></div>
  				<div class="product-text">
  					<h2 class="product-title">Advanced Logging</h2>
  					<p>With pogy you can fully customize logging. Pogy lets you set your own log settings from member logging to command and voice logging!</p>
  				</div>
  			</div>
  			<div class="product-row">
  				<div class="product-image"><img src="<%= domain %>/cards/embeds.png"></div>
  				<div class="product-text">
  					<h2 class="product-title">Design Embeds</h2>
  						<p>Pogy Allows you to make, and send embeds to any channel. You can even send it as your own webhook or save it as a Custom Command!</p>
  				</div>
  			</div>

  			<div class="product-row">
  				<div class="product-image"><img src="<%= domain %>/cards/application.png"></div>
  				<div class="product-text">
  					<h2 class="product-title">Create Applications</h2>
  					<p>Manage your server applications with Pogy!</p>
  				</div>
  			</div>
  			<div class="product-row">
  				<div class="product-image"><img src="<%= domain %>/cards/rr.png"></div>
  				<div class="product-text">
  					<h2 class="product-title">Reaction Roles</h2>
  					<p>Create your own reaction roles directly from Pogy's Dashboard!</p>
  				</div>
  			</div>
        <div style="padding-top: 100px"></div>
  </div>


</section>


</body>


<% } else { %>



<body>

<section>

  <div class="full-height" >
    <div class="section-title-wrap">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center parallax-fade-top">
            <p>POGY</p>
            <h1>The best Multipurpose <br>Discord Bot</h1>
              <p style="font-size: 13px">Serving <b  id="odometer" class="odometer"><%=  all_users %></b> members in <b  id="odometer2" class="odometer"><%= all_servers %> guilds</b>.</p>
      <div class='buttons flex'>
                    <a class='button btn btn-blurple' href='/invite'><span><i class="fab fa-discord fa-2x"></i> Add
                            to Discord</span></a>
                    <a class='button btn btn-default' href='/dashboard'><span><i class="fa fa-bar-chart" aria-hidden="true"></i> Dashboard</span></a>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




<div class="content-container">
  			<div id="os2" class="product-row">
  				<div class="product-image"><img src="<%= domain %>/cards/logging.png"></div>
  				<div class="product-text">
  					<h2 class="product-title">Advanced Logging</h2>
  					<p>With pogy you can fully customize logging. Pogy lets you set your own log settings from member logging to command and voice logging!</p>
  				</div>
  			</div>
  			<div class="product-row">
  				<div class="product-image"><img src="<%= domain %>/cards/embeds.png"></div>
  				<div class="product-text">
  					<h2 class="product-title">Design Embeds</h2>
  						<p>Pogy Allows you to make, and send embeds to any channel. You can even send it as your own webhook or save it as a Custom Command!</p>
  				</div>
  			</div>

  			<div class="product-row">
  				<div class="product-image"><img src="<%= domain %>/cards/application.png"></div>
  				<div class="product-text">
  					<h2 class="product-title">Create Applications</h2>
  					<p>Manage your server applications with Pogy!</p>
  				</div>
  			</div>
  			<div class="product-row">
  				<div class="product-image"><img src="<%= domain %>/cards/rr.png"></div>
  				<div class="product-text">
  					<h2 class="product-title">Reaction Roles</h2>
  					<p>Create your own reaction roles directly from Pogy's Dashboard!</p>
  				</div>
  			</div>
        
<div style="padding-top: 100px"></div>
  </div>


</section>



</body>




<% } %>
</div>
<style>

#myBtn {
position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#myBtn i {
color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


#myBtn:hover {
background: rgba(0, 0, 0, 0.9);
}
.btn {
	border: none;
	margin: 10px;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 30px;
	border-radius: 5px;
	display: inline-block;
	background-color: var(--secondary-color);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	transition: all 0.5s;
}

.btn {
	border: none;
	margin: 10px;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 30px;
	border-radius: 5px;
	display: inline-block;
	background-color: var(--secondary-color);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	transition: all 0.5s;
}

.btn-blurple {
	background-color: #7289da;
}
.btn-default {
	background-color: #2f2f2f;
}

.btn i {
	top: 3px;
	font-size: 125%;
	margin: 0 4px 0 0;
	position: relative;
}
#myBtn:hover i {
    color: #fff;
    top: 5px;
}

/* #images
================================================== */


 img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 0.6em;
}
@keyframes hover {
  0%   {top: 0px;}
  50%  {top: 50px;}
  100% {top: 0px;}
}
.content-container {
  width: 100%;
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
 .product-row {
  padding: 120px 0 0;
  height: 60vh;
  -webkit-box-align: center;
          align-items: center;
}
 .product-row .product-image {
  width: 70%;
  margin: 0 auto;
  animation: goUpandDown 5s ease-in-out infinite; 
}
/* .product-row .product-image:hover {
	transform: scale(1.1);
} */

@keyframes goUpandDown {
  0% {
    -webkit-transform: translatey(+60px);
            transform: translatey(+60px);
  }
  50% {
    -webkit-transform: translatey(+80px);
            transform: translatey(+80px);
  }
  100% {
    -webkit-transform: translatey(+60px);
            transform: translatey(+60px);
  }
}


.product-row .product-text {

  background: transparent;
  width: 90%;
  margin: 10px auto;
  text-align: center;
}
 .product-row .product-title {
  font-size: 2em;
  color: #ffffff;
  font-weight: 700;
}
 .product-row p {
  line-height: 1.5;
  font-size: 1.2em;
}
.product-row {
  margin: 1em 0;
}

.product-row::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
.product-row:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}
@media only screen and (min-width: 800px) {

.product-row:nth-child(odd) .product-image {
    padding-left: 5%;
    padding-right: 0;
  }
.product-row {
    display: -webkit-box;
    display: flex;
    margin-bottom: 0;
    min-height: 380px;
    -webkit-box-align: center;
            align-items: center;
  }
.product-row .product-image {
    width: 55%;
    float: left;
    -webkit-box-flex: 1;
            flex: 1 1 55%;
    padding-right: 5%;
    max-width: 55% !important;
    min-width: 320px;
  }
.product-row .product-text {
    position: relative;
    width: 45%;
    text-align: left;
    float: right;
    -webkit-box-flex: 1;
            flex: 1 1 45%;
    max-width: 45%;
  }
 .product-row .product-text {
    margin-right: 1em;
  }
}




.odometer {
font-size: 13px;
}
  .odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  font-size: 13px;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  font-size: 13px;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  visibility: hidden;
  font-size: 13px;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  font-size: 13px;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  font-family: &amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;quot;Helvetica Neue&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;quot;, sans-serif;
  line-height: 1.1em;
}
.odometer.odometer-auto-theme .odometer-value, .odometer.odometer-theme-default .odometer-value {
  text-align: center;
}
.fourth {
  height: 45px;
  width: 250px;
  border: 2px solid #ffffff;
  color: #fff;
  background-image: linear-gradient(45deg, #ffffff 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.fourth:hover {
  background-position: 0;
}
.section {
  position: relative;
  width: 100%;
  display: block;
}
.over-hide {
  overflow: hidden;
}
.full-height {
  height: 100vh;
}
.login-button {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: 37px;
  margin-right: 10px;
}

.shadow-title {
  position: fixed;
  top: 0;
  margin-top: 30px;
  left: 20px;
  width: 100%;
  height: 300%;
  text-align: left;
  font-family: "Muli", sans-serif;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  font-size: 18vw;
  line-height: 1;
  color: rgba(200, 200, 200, 0.1);
  background: linear-gradient(
    90deg,
    rgba(200, 200, 200, 0),
    rgba(200, 200, 200, 0.35)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  z-index: -1;
}
@keyframes comeUp {
    from {
        opacity: 0;
        bottom: -50px;
    }
}
.section-parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: -2;
}
button:focus { outline: none; }
.section.z-bigger {
  z-index: 100;
}
.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	font-size: 25px;
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: -3px;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}
.section.z-bigger-2 {
  z-index: 200;
}
.section-title-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 3;
}
.section-title-wrap p {
  letter-spacing: 2px;
  font-size: 1.7em;
  font-weight: 700;
  padding: 0;
  color: #ffffff;
}
.section-title-wrap h1 {
  margin: 0;
  padding: 0;
  font-size: 3.5vw;
  letter-spacing: 8px;
  font-weight: 900;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
}
.padding-top-bottom {
  padding-top: 100px;
  padding-bottom: 100px;
}
.background-dark {
  background-color: #ffffff;
}
</style>
<br>
<br>

<script>
// ===== Scroll to Top ==== 
$(window).scroll(function() {
    if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
        $('#return-to-top').fadeIn(200);    // Fade in the arrow
    } else {
        $('#return-to-top').fadeOut(200);   // Else fade out the arrow
    }
});
$('#return-to-top').click(function() {      // When arrow is clicked
    $('body,html').animate({
        scrollTop : 0                       // Scroll to top of body
    }, 500);
});
</script>

<script>

function randomNum2(min, max) {
  return Math.floor(Math.random() * (max - min + 1)) + min;
}



var myInt = setInterval(function () {
var size = document.getElementById("size").value || `180000`;
var max2 = parseInt(size) + 2000
var random2 = randomNum2(parseInt(size), parseInt(max2));

 odometer.innerHTML = random2
}, 2000);




</script>  
<script>

function randomNum(min, max) {
  return Math.floor(Math.random() * (max - min + 1)) + min;
}

var myInt = setInterval(function () {

var size2 = document.getElementById("size2").value;
var max = parseInt(size2) + 10
var random = randomNum(parseInt(size2), parseInt(max));
 odometer2.innerHTML = random

}, 2000);



</script> 

<script src='https://github.hubspot.com/odometer/odometer.js'></script>
<%- include("partials/mainfooter") %>
<%- include("partials/footer") %>
