<head>
<link rel="icon"
    type="image/png"
    href="<%domain%>/logo.png"> 
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css'>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>
<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
</head>
<%- include("partials/head", { bot, user, path, description, title: `Pogy - Dashboard`, twitter, url})%>
<div class="content">

    <title>Dashboard - <% guild.name %></title>
  
<% if (guild.icon) {
 iconurl = "https://cdn.discordapp.com/icons/" + guild.id + "/" + guild.icon + ".png??size=512";
} else {
 iconurl = "https://cdn.glitch.com/82fe990a-7942-42e3-9790-39807ccdb9f6%2Ficon-404-dark.png?v=1602427904949";
}
%>



<div class="guild">

<img class="server-image" src="<%= iconurl %>" alt="<% guild.name %>"/>
<div class="server-name">

<p class="server-name" style = "font-size: 26px;"><%= guild.name %></p>
<p style = "font-size: 13px;"><%= guild.memberCount%> Members</p>



			
</div>
</div>

 </div>


<% if(guild.roles.cache.size > 0) { %>

<% if(guild.channels.cache.filter(m => m.type === 'text').size > 0) { %>

<% if(guild.channels.cache.filter(m => m.type === 'category').size > 0) { %>

<div class="container1-color">
<div class="container-1">
<form role="form" action="/dashboard/<%= guild.id %>/" method="POST">
<% if (alert) { %>
  <input type="checkbox" id="one" class="hidden" name="ossm">  
  <label for="one" class="alert-message">
   <%= alert %>
    <span class="close">x</button>
  </label> 
  <br>
<br>
<br>
<% }  %>


<% if(settings.isPremium == "false"){ %>


<div class="alertpremium premium">

<p style="display: inline; color: rgba(114, 28, 36,1);">

<b>The following Server isn't a premium guild, we are giving free premium to guilds who pass the <a style="display: inline; color: rgba(114, 28, 36,1);" href="https://pogy.xyz" >requirements</a>. &nbsp;&nbsp;</b>

</p>
<button type="submit" name="enablePremium" class="btn btn-danger">
Add Premium
</button>
</div>


<% } %>


<div class="row">
  <div class="column">



    <h2>📝Basic Configuration</h2>
<p><bold>Prefix</bold></p>
<div class="user-box">
      <input type="text" name="prefix" value="<%= settings.prefix %>" placeholder="Your prefix">
</div>
<p><bold>Language</bold><p>              
<select name="language" class="select">
<% if(settings.language == 'english'){ %>
<option selected="selected">english</option>
  <option value="french">french</option>
  <option value="spanish">spanish</option>

<% } else if(settings.language == 'spanish'){%>
 <option value="english">english</option>
  <option value="french">french</option>
<option selected="selected">spanish</option> 
 
 <% } else if(settings.language == 'french'){%>                                   
  <option selected="selected">french</option>  
   <option value="english">english</option>
  <option value="spanish">spanish</option>

                              <% }  %>                                          

</select>
<p>Dashboard Logs</p>
        <select class="select" name="dashboardlog">
              <% if(settings.dashboardLogID && bot.channels.cache.has(settings.dashboardLogID)){ %>
                                                    <option selected="selected">#<%= bot.channels.cache.get(settings.dashboardLogID).name %></option>
                                                    <% guild.channels.cache.filter((ch) => ch.type === "text" && ch.id !== settings.dashboardLogID).forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                        <option>None</option>
                                                <% } else { %>
                                                    <option selected="selected">None</option>
                                                    <% guild.channels.cache.filter((ch) => ch.type === "text").forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                <% } %>
                                            </select>
<br>
<br>
        <button type="submit" name="basicConfig" class="edit button">Save Settings</button>                 
 <!-- /.Basic Config -->

  </div>
  <div class="column">
<h2>🌀 Guild Channels </h2>
                 <br>

                <br>                     
<p> Suggestion Channel</p> 
        <input type="color" name="suggestcolor" value="<%= settings.suggestioncolor%>">
        <select class="select" name="suggestions">
             <% if(settings.suggestionChannelID && bot.channels.cache.has(settings.suggestionChannelID)){ %>
                                                    <option selected="selected">#<%= bot.channels.cache.get(settings.suggestionChannelID).name %></option>
                                                    <% guild.channels.cache.filter((ch) => ch.type === "text" && ch.id !== settings.suggestionChannelID).forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                        <option>None</option>
                                                <% } else { %>
                                                    <option selected="selected">None</option>
                                                    <% guild.channels.cache.filter((ch) => ch.type === "text").forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                <% } %>
                                            </select>
                                         
<br>
                           
                                            <p> Report Channel</p>
<input type="color" name="reportcolor" value="<%= settings.reportcolor %>">
        <select class="select" name="reportchannel">

              <% if(settings.reportChannelID && bot.channels.cache.has(settings.reportChannelID)){ %>
                                                    <option selected="selected">#<%= bot.channels.cache.get(settings.reportChannelID).name %></option>
                                                    <% guild.channels.cache.filter((ch) => ch.type === "text" && ch.id !== settings.reportChannelID).forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                        <option>None</option>
                                                <% } else { %>
                                                    <option selected="selected">None</option>
                                                    <% guild.channels.cache.filter((ch) => ch.type === "text").forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                <% } %>
                                            </select>
                                        
<br>
                                <p>Mod Logs</p>
               <input type="color" name="modlogcolor" value="<%= settings.modlogcolor%>">
        <select class="select" name="modlogchannel">
              <% if(settings.logChannelID && bot.channels.cache.has(settings.logChannelID)){ %>
                                                    <option selected="selected">#<%= bot.channels.cache.get(settings.logChannelID).name %></option>
                                                    <% guild.channels.cache.filter((ch) => ch.type === "text" && ch.id !== settings.logChannelID).forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                        <option>None</option>
                                                <% } else { %>
                                                    <option selected="selected">None</option>
                                                    <% guild.channels.cache.filter((ch) => ch.type === "text").forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                <% } %>
                                            </select>
<br>
<br>
        <button type="submit" name="guildChannels" class="edit button">Update</button>              <br>


        <br>
        <br>   


  </div>
  <div class="column">
  <h2> 🤖 Bot Settings</h2>
<p> Bot Nickname</p>
   <div class="user-box">
      <input type="text" name="nickname" value="<%= nickname || 'Pogy' %>" placeholder="Bot Nickname">
</div>
<p>Bot Footer (soon) <% if(settings.isPremium == "false"){ %><a href="https://pogy.xyz/premium"><i style="font-size:14px; color: yellow" class="fa">&#xf006;</i></a><% } %></p>
   <div class="user-box">
      <input type="text" name="botfooter" value="https://pogy.xyz" placeholder="Bot Footer">
</div>
 <div class="checkbox">
 <p> Anti Invite 
          <label>
                                                    <% if(settings.antiInvites === true) { %>
                                                        <input type="checkbox" name="antiInvites" checked>
                                                    <% } else { %>
                                                        <input type="checkbox" name="antiInvites">
                                                    <% } %>
                                                </label></p>
                                                 <p> Anti Link 
          <label>
                                                    <% if(settings.antiLinks === true) { %>
                                                        <input type="checkbox" name="antiLinks" checked>
                                                    <% } else { %>
                                                        <input type="checkbox" name="antiLinks">
                                                    <% } %>
                                                </label></p>
                                            </div>

</select>

        <button type="submit" name="botSettings" class="edit button">Update</button>  
  </div>
</div>
</div>
</div>
<div class="container1-color">
<div class="container-1">
<div class="row">
  <div class="column">
    <h2>👋 Welcome messages</h2>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <p>Welcome Message <a style="color: red">(Check Variables Here)</a></p>
                                            <textarea rows="3" name="message" id="textarea3" class="form-control" required><%= (settings.welcomeMessage || `Welcome {user} to {guild}! Hope you enjoy your stay!`) %></textarea>
                                             <span style="color: white" id='remaining3'></span>
                                            
                                        </div>
                                        <!-- select -->
                                        <div class="form-group">
                                            <p>Welcome Channel</p>
                                            <select class="form-control" name="channel">
                                                <% if(settings.welcomeToggle === true && bot.channels.cache.has(settings.welcomeChannel)){ %>
                                                    <option selected="selected">#<%= bot.channels.cache.get(settings.welcomeChannel).name %></option>
                                                    <% guild.channels.cache.filter((ch) => ch.id !== settings.welcomeChannel && ch.type === "text").forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); } else { %>
                                                 
                                                 

                                              

                                                    <% guild.channels.cache.filter((ch) => ch.id !== guild.channels.cache.first().id && ch.type === "text").forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>

                                                

                                                <% } %>
                                            </select>
                                        </div>
                                        <!-- select -->
                                        <div class="form-group">
                                            <div class="checkbox">
                                              <p>Welcome Embed<label>
                                                    <% if(settings.welcomeEmbed === true) { %>
                                                        <input type="checkbox" name="withEmbed" checked id="welcomeEmbedCheck" onclick="myFunction()">
                                                    <% } else { %>
                                                        <input type="checkbox" name="withEmbed" id="welcomeEmbedCheck" onclick="myFunction()"> 
                                                    <% } %>
                                                    <div id="welcomeEmbedCheckID" style="display:none">
                                                    
<p><input type="color" name="welcomeEmbedColor" value="<%= settings.welcomeColor %>">&nbsp; Embed Color</p>
<p><bold>Embed Title</bold></p>
<div class="user-box">
      <input type="text" name="welcomeEmbedTitle" value="<%= settings.welcomeTitle %>" placeholder="Welcome Title">
</div>
<p><bold>Embed description</bold></p>
<textarea id="textarea4"  rows="3" name="message3" class="form-control" required><%= (settings.welcomeMessage || `Welcome {user} to {guild}! Hope you enjoy your stay!`) %></textarea>
 <span style="color: white" id='remaining4'></span>
<br>
<p>Embed footer <% if(settings.isPremium == "false"){ %><a href="https://pogy.xyz/premium"><i style="font-size:14px; color: yellow" class="fa">&#xf006;</i></a><% } %>&nbsp; 
 <% if(!!settings.welcomeFooter === true) { %>
       <input type="checkbox" name="footerEmbed" checked id="welcomeEmbedFooter" onclick="myFunction2()">
                                                    <% } else { %>
                                                        <input type="checkbox" name="footerEmbed" id="welcomeEmbedFooter" onclick="myFunction2()"> 
                                                    <% } %></p>

<div id="welcomeEmbedFooterID" style="display:none">
<div class="user-box">
      <input type="text" name="welcomeEmbedFooter" value="<%= settings.welcomeFooter %>" placeholder="Welcome Footer">
</div>
</div>
                                            
        <p>Embed TimeStamp&nbsp; <% if(settings.welcomeTimestamp === true) { %>
       <input type="checkbox" name="timestampEmbed" checked>
                                                    <% } else { %>
                                                        <input type="checkbox" name="timestampEmbed"> 
                                                    <% } %></p>


 <p>Embed Picture&nbsp; 
 <% if(!!settings.welcomeImage === true || !!settings.welcomeThumbnail === true) { %>
       <input type="checkbox" name="imageEmbed" checked id="welcomeEmbedImage" onclick="myFunction3()">
                                                    <% } else { %>
                                                        <input type="checkbox" name="imageEmbed" id="welcomeEmbedImage" onclick="myFunction3()"> 
                                                    <% } %></p>

                                           </div>
 <div id="welcomeEmbedImageID" style="display:none">
<div class="user-box">
      <h4>Thumbnail: &nbsp;<input type="text" name="welcomeEmbedThumbnail" value="<%= settings.welcomeThumbnail %>" placeholder="Welcome Thumbnail"></h4>
     <h4>Image: &nbsp;<input type="text" name="welcomeEmbedImage" value="<%= settings.welcomeImage %>"  placeholder="Welcome Image"></h4>
</div>
</div> 
                                                </label></p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        <% if(settings.welcomeToggle === true){ %>
                                            <button type="submit" name="welcomeDisable" class="btn btn-danger">Disable</button>
                                            <button type="submit" name="welcomeUpdate" class="btn btn-primary pull-right">Update</button>
                                        <% } else { %>
                                            <button type="submit" name="welcomeEnable" class="btn btn-success">Enable</button>
                                        <% } %>
                                    </div>
                          
<br>
<br>
<h3>🎫 Tickets </h3>
<br>
<h4><u>Main Settings</u></h4>



<p>Welcome Message <a style="color: red">(Check Variables Here)</a></p>
<textarea id="textarea5"  rows="3" name="ticketWelcomeMessage" class="form-control" required><%= ticket.ticketWelcomeMessage || `Hey {user} Welcome to your ticket!\n\nThank you for creating a ticket, the support team will be with you shortly\n\nIn the mean time, please explain your issue below `%></textarea>
 <span style="color: white" id='remaining5'></span>

<br>
<p>
<input type="color" name="ticketWelcomeColor" value="<%= ticket.ticketWelcomeColor %>">  Embed Color</p>
<p>Ticket Logs</p>
<input type="color" name="ticketLogColor" value="<%= ticket.ticketLogColor %>">
<select class="select" name="ticketChannel">
<% if(ticket.ticketModlogID && bot.channels.cache.has(ticket.ticketModlogID)){ %>
                                                    <option selected="selected">#<%= bot.channels.cache.get(ticket.ticketModlogID).name %></option>
                                                    <% guild.channels.cache.filter((ch) => ch.id !== ticket.ticketModlogID && ch.type === "text").forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); } else { %>
                                            
                                                    <% guild.channels.cache.filter((ch) => ch.id !== guild.channels.cache.first().id && ch.type === "text").forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                <% } %>
                                            </select> 
<br>
 <p>Support Role</p>
 <select class="select" name="ticketRole">
 <% if(ticket.supportRoleID && guild.roles.cache.has(ticket.supportRoleID)){ %>
<option selected="selected">@<%= guild.roles.cache.get(ticket.supportRoleID).name %></option>
                                                    <% guild.roles.cache.filter((r) => r.id !== ticket.supportRoleID && r.name !== "@everyone").forEach((r) => { %>
                                                        <option>@<%= r.name %></option>
                                                    <% }); } else { %>
                                                    <option selected="selected">@<%= guild.roles.cache.filter((r) => r.name !== "@everyone").first().name %></option>
                                                    <% guild.roles.cache.filter((r) => r.id !== guild.roles.cache.filter((r) => r.name !== "@everyone").first().id && r.name !== "@everyone").forEach((r) => { %>
                                                        <option>@<%= r.name %></option>
                                                    <% }); %>
                                                <% } %>
                                            </select>
                                            <br>
<p>Ticket Category</p>
<select class="select" name="ticketCategory">
<% if(ticket.categoryID && bot.channels.cache.has(ticket.categoryID)){ %>
 <option selected="selected"><%= bot.channels.cache.get(ticket.categoryID).name %></option>
                                                    <% guild.channels.cache.filter((ch) => ch.id !== ticket.categoryID && ch.type === "category").forEach((ch) => { %>
                                                        <option><%= ch.name %></option>
                                                    <% }); } else { %>
                                                    <option selected="selected"><%= guild.channels.cache.filter((ch) => ch.type === "category").first().name %></option>
                                                    <% guild.channels.cache.filter((ch) => ch.id !== guild.channels.cache.first().id && ch.type === "category").forEach((ch) => { %>
                                                        <option><%= ch.name %></option>
                                                    <% }); %>
                                                <% } %>
                                            </select>
                                            <br>
<p>Ticket Limit (1 - 5)</p>
<input type="number" name="ticketLimit" value="<%= ticket.maxTicket %>" min="1" max="5">
<br>
<div class="checkbox">

<p> <% if(ticket.ticketPing == "true") { %>
       <input type="checkbox" name="pingEveryone" checked>
                                                    <% } else { %>
                                                        <input type="checkbox" name="pingEveryone"> 
                                                    <% } %>Ping @everyone</p>
 <% if(ticket.ticketType == "message") { %>

<p> <% if(ticket.requireReason == "true") { %>
       <input type="checkbox" name="requireReason" checked>
                                                    <% } else { %>
                                                        <input type="checkbox" name="requireReason"> 
                                                    <% } %>Require Reason  <b><%= settings.prefix %>ticket (reason)</b></p>
 <% } %>

<p><% if(ticket.ticketClose == "true") { %>
       <input type="checkbox" name="ticketClose" checked>
                                                    <% } else { %>
                                                        <input type="checkbox" name="ticketClose"> 
                                                    <% } %>Allow Users to Close ticket &nbsp;<% if(settings.isPremium == "false"){ %><a href="https://pogy.xyz/premium"><i style="font-size:14px; color: yellow" class="fa">&#xf006;</i></a><% } %></p>

</div>
<br>
                                    <div class="box-footer">
                                        <% if(ticket.ticketToggle == "true"){ %>

                                            <button type="submit" name="ticketDisable" class="btn btn-danger">Disable</button>
                                            <button type="submit" name="ticketUpdate" class="btn btn-primary pull-right">Update</button>
  <% if(ticket.ticketType == "message"){ %>
   <button type="submit" name="switchReaction" class="btn btn-primary pull-middle">Switch to Reaction</button>
    <% } else if(ticket.ticketType == "reaction"){ %>
      <button type="submit" name="switchReaction2" class="btn btn-primary pull-middle">Switch to Message</button>
   <% }  %>
                                        <% } else { %>
                                            <button type="submit" name="ticketEnable" class="btn btn-success">Enable</button>
                                        <% } %>
                                    </div>
  </div>
  <div class="column">
<h2>😢 Leave messages</h2>

                                    <div class="box-body">
                                        <!-- text input -->
                                        <div class="form-group">
                  <p> Leave Message <a href="https://pogy.xyz" style="color: red">(Check Variables Here)</a></p>
                                            <textarea rows="3" name="message2" id="textarea1" class="form-control" required><%= (settings.leaveMessage || `{user_tag} Just Left The Guild, we now have {size} Members.`) %></textarea>
                                            <span style="color: white" id='remaining1'></span>
                                        </div>
                                        <!-- select -->
                                        <div class="form-group">
                                            <p>Leave Channel</p>
                                            <select class="form-control" name="channel2">
                                                <% if(settings.leaveToggle === true && bot.channels.cache.has(settings.leaveChannel)){ %>
                                                    <option selected="selected">#<%= bot.channels.cache.get(settings.leaveChannel).name %></option>
                                                    <% guild.channels.cache.filter((ch) => ch.id !== settings.leaveChannel && ch.type === "text").forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); } else { %>
                                                   
                                                    <% guild.channels.cache.filter((ch) => ch.id !== guild.channels.cache.first().id && ch.type === "text").forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                <% } %>
                                            </select>
                                        </div>
                                        <!-- select -->
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <p>Leave Embed<label>
                                           <% if(settings.leaveEmbed === true) { %>
                                                        <input type="checkbox" name="withEmbed2" checked id="welcomeEmbedCheck1" onclick="myFunction01()">
                                                    <% } else { %>
                                                        <input type="checkbox" name="withEmbed2" id="welcomeEmbedCheck1" onclick="myFunction01()"> 
                                                    <% } %>
                                                    <div id="welcomeEmbedCheckID1" style="display:none">
                                                    
<p><input type="color" name="welcomeEmbedColor1" value="<%= settings.leaveColor %>">&nbsp; Embed Color</p>
<p><bold>Embed Title</bold></p>
<div class="user-box">
      <input type="text" name="welcomeEmbedTitle1" value="<%= settings.leaveTitle  %>" placeholder="Leave Title">
</div>
<p><bold>Embed description</bold></p>
<textarea rows="3" name="message4" id="textarea2" class="form-control" required><%= (settings.leaveMessage || `Goodbye {user}!`) %></textarea>
 <span style="color: white" id='remaining2'></span>


<br>
<p>Embed footer <% if(settings.isPremium == "false"){ %><a href="https://pogy.xyz/premium"><i style="font-size:14px; color: yellow" class="fa">&#xf006;</i></a><% } %>&nbsp; 
 <% if(!!settings.leaveFooter === true) { %>
       <input type="checkbox" name="footerEmbed1" checked id="welcomeEmbedFooter1" onclick="myFunction02()">
                                                    <% } else { %>
                                                        <input type="checkbox" name="footerEmbed1" id="welcomeEmbedFooter1" onclick="myFunction02()"> 
                                                    <% } %></p>

<div id="welcomeEmbedFooterID1" style="display:none">
<div class="user-box">
      <input type="text" name="welcomeEmbedFooter1" value="<%= settings.leaveFooter %>" placeholder="Welcome Footer">
</div>
</div>
                                            
        <p>Embed TimeStamp&nbsp; <% if(settings.leaveTimestamp === true) { %>
       <input type="checkbox" name="timestampEmbed1" checked>
                                                    <% } else { %>
                                                        <input type="checkbox" name="timestampEmbed1"> 
                                                    <% } %></p>


 <p>Embed Picture&nbsp; 
 <% if(!!settings.leaveImage === true || !!settings.leaveThumbnail === true) { %>
       <input type="checkbox" name="imageEmbed1" checked id="welcomeEmbedImage1" onclick="myFunction03()">
                                                    <% } else { %>
                                                        <input type="checkbox" name="imageEmbed1" id="welcomeEmbedImage1" onclick="myFunction03()"> 
                                                    <% } %></p>

                                           </div>
 <div id="welcomeEmbedImageID1" style="display:none">
<div class="user-box">
      <h4>Thumbnail: &nbsp;<input type="text" name="welcomeEmbedThumbnail1" value="<%= settings.leaveThumbnail %>" placeholder="Welcome Thumbnail"></h4>
     <h4>Image: &nbsp;<input type="text" name="welcomeEmbedImage1" value="<%= settings.leaveImage %>"  placeholder="Welcome Image"></h4>
</div>
</div> 
                                                </label></p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        <% if(settings.leaveToggle === true){ %>
                                            <button type="submit" name="goodbyeDisable" class="btn btn-danger">Disable</button>
                                            <button type="submit" name="goodbyeUpdate" class="btn btn-primary pull-right">Update</button>
                                        <% } else { %>
                                            <button type="submit" name="goodbyeEnable" class="btn btn-success">Enable</button>
                                        <% } %>
                                    </div>
                                           
<br>
<br>
<br>
<br>

<br>
<br>
<% if(ticket.ticketType == "reaction" && ticket.ticketCustom == "false") { %>   
<h4><u>Reaction Panel</u></h4>
<p><input type="color" name="reactionPanelColor" value="<%= ticket.ticketEmbedColor %>">&nbsp; Embed Color</p>
<p><bold>Reaction Title</bold></p>
<div class="user-box">
      <input type="text" name="reactionTitle" value="<%= ticket.ticketTitle || `Server Tickets` %>" placeholder="Reaction Title">
</div>
<p><bold>Reaction description</bold>(Max 1024)</p>
<textarea id="textarea6"  rows="3" name="reactionDescription" class="form-control" required><%= ticket.ticketDescription || `Please react to open a ticket!`%></textarea>
 <span style="color: white" id='remaining6'></span>
<br>

                                            
        <p><% if(ticket.ticketTimestamp == "true") { %>
       <input type="checkbox" name="ticketTimestamp" checked>
                                                    <% } else { %>
                                                        <input type="checkbox" name="ticketTimestamp"> 
                                                    <% } %> &nbsp;Reaction TimeStamp</p>
           <p>
         <% if(!!ticket.ticketFooter === true) { %>
      <input type="checkbox" name="reactionfooterEmbed" checked id="reactionEmbedFooter" onclick="myFunction04()">
             <% } else { %>
      <input type="checkbox" name="reactionfooterEmbed" id="reactionEmbedFooter" onclick="myFunction04()"> 
         <% } %> &nbsp;Reaction Footer <% if(settings.isPremium == "false"){ %><a href="https://pogy.xyz/premium"><i style="font-size:14px; color: yellow" class="fa">&#xf006;</i></a><% } %></p>                                                 

<div id="reactionEmbedFooterID" style="display:none">
<div class="user-box">
      <input type="text" name="reactionmbedFooter" value="<%= ticket.ticketFooter %>" placeholder="Embed Footer">
</div>
</div>
<br>
<p>Reaction Channel</p>
<select class="select" name="ticketChannelReact">
             <% if(ticket.ticketReactChannel && bot.channels.cache.has(ticket.ticketReactChannel)){ %>
                                                    <option selected="selected">#<%= bot.channels.cache.get(ticket.ticketReactChannel).name %></option>
                                                    <% guild.channels.cache.filter((ch) => ch.type === "text" && ch.id !== ticket.ticketReactChannel).forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                  
                                                <% } else { %>
                                          
                                                    <% guild.channels.cache.filter((ch) => ch.type === "text").forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                <% } %>
                                            </select>

<p><bold>Ticket Reaction</bold> &nbsp;<% if(settings.isPremium == "false"){ %><a href="https://pogy.xyz/premium"><i style="font-size:14px; color: yellow" class="fa">&#xf006;</i></a><% } %><p> 
<select name="ticketReaction" class="select">
<% if(settings.isPremium == "false"){ %>
<option selected="selected">🎫</option>
  <option value="ticketReaction2" disabled>🎟️ (premium)</option>
<% } else { %>
<% if(ticket.ticketReaction == '🎫'){ %>
<option selected="selected">🎫</option>
  <option value="ticketReaction2">🎟️</option>


<% } else if(ticket.ticketReaction == '🎟️'){%>
 <option value="ticketReaction1">🎫</option>
<option selected="selected">🎟️</option> 
 
 <% } else {%>                                   
  <option selected="selected">🎫</option>  
   <option value="ticketReaction2">🎟️</option>

                              <% }  %>    
                               <% }  %>        
</select>
<br>
<br>
 <% } else if(ticket.ticketType == "reaction" && ticket.ticketCustom == "true") { %>

<h4><u>Custom Message Reaction </u><b style="color:red;">(new)</b></h4>
<br>
<br>
<p>This Feature allows users to open a ticket by <br>reacting to a message of your choice. </p>
<br>
<p>Ticket Channel</p>
<select class="select" name="ticketChannelReact">
             <% if(ticket.ticketReactChannel && bot.channels.cache.has(ticket.ticketReactChannel)){ %>
                                                    <option selected="selected">#<%= bot.channels.cache.get(ticket.ticketReactChannel).name %></option>
                                                    <% guild.channels.cache.filter((ch) => ch.type === "text" && ch.id !== ticket.ticketReactChannel).forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                      
                                                <% } else { %>
                                          
                                                    <% guild.channels.cache.filter((ch) => ch.type === "text").forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                <% } %>
                                            </select>

<br>
<br>
<p>Message ID</p>
<div class="user-box">
      <input type="text" name="messageID" value="<%= ticket.messageID %>" placeholder="message ID">
</div>

<p><bold>Ticket Reaction</bold> &nbsp;<% if(settings.isPremium == "false"){ %><i style="font-size:14px; color: yellow" class="fa">&#xf006;</i><% } %></p> 

<select name="ticketReaction" class="select">

<% if(settings.isPremium == "false"){ %>

<option selected="selected">🎫</option>
<option value="ticketReaction2" disabled>🎟️ (premium)</option>

<% } else { %>
<% if(ticket.ticketReaction == '🎫'){ %>
<option selected="selected">🎫</option>
  <option value="ticketReaction2">🎟️</option>


<% } else if(ticket.ticketReaction == '🎟️'){%>
 <option value="ticketReaction1">🎫</option>
<option selected="selected">🎟️</option> 
 
 <% } else {%>                                   
  <option selected="selected">🎫</option>  
   <option value="ticketReaction2">🎟️</option>

                              <% }  %>   

<% }  %> 

</select>


<br>
<br>


<!-- end -->
<% } %>

                                    <div class="box-footer">
                                        <% if(ticket.ticketToggle == "true"){ %>
 <% if(ticket.ticketType == "reaction"){ %>
                                           <button type="submit" name="sendEmbed" class="btn btn-success">Send</button>
                                               <% } %> 


   <% if(ticket.ticketType == "reaction" && ticket.ticketCustom == "false") { %>                                                                                    <button type="submit" name="useMessage" class="btn btn-primary pull-right">Use Message</button>
     <% } else if(ticket.ticketType == "reaction" && ticket.ticketCustom == "true") { %> 
<button type="submit" name="useReaction" class="btn btn-primary pull-right">Use Reaction</button>
     <% } %>
                                        <% } else { %>
                                          <button class="btn btn-danger" disabled>Send</button>
                                           
                                        <% } %>
                                    </div>

  </div>
  <div class="column">
  <h2>🎖️ AutoRole</h2>
                                      
<div class="box-body">
                                        <!-- select -->
                                        <div class="form-group">
                                     <p>Role</p>
                                     <p style="color: red">Invalid Roles / bot Roles will not Work</p>
                                            <select class="form-control" name="role">
                                                <% if(settings.autoroleToggle === true && guild.roles.cache.has(settings.autoroleID)){ %>
                                                    <option selected="selected">@<%= guild.roles.cache.get(settings.autoroleID).name %></option>
                                                    <% guild.roles.cache.filter((r) => r.id !== settings.autoroleID && r.name !== "@everyone").forEach((r) => { %>
                                                        <option>@<%= r.name %></option>
                                                    <% }); } else { %>
                                                    <option selected="selected">@<%= guild.roles.cache.filter((r) => r.name !== "@everyone").first().name %></option>
                                                    <% guild.roles.cache.filter((r) => r.id !== guild.roles.cache.filter((r) => r.name !== "@everyone").first().id && r.name !== "@everyone").forEach((r) => { %>
                                                        <option>@<%= r.name %></option>
                                                    <% }); %>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        <% if(settings.autoroleToggle === true){ %>
                                            <button type="submit" name="autoroleDisable" class="btn btn-danger">Disable</button>
                                            <button type="submit" name="autoroleUpdate" class="btn btn-primary pull-right">Update</button>
                                        <% } else { %>
                                            <button type="submit" name="autoroleEnable" class="btn btn-success">Enable</button>
                                        <% } %>
                                    </div>
                                         

<br>
<br>
<br>
<br>
<h2><b>🚀 Reaction Roles</b></h2>
<br>
<br>
<p> Reaction Role Logs</p> 
        <input type="color" name="reactionrolescolor" value="<%= settings.reactionColor %>">
        <select class="select" name="reactionroleslog">
             <% if(settings.reactionLogs && bot.channels.cache.has(settings.reactionLogs)){ %>
                                                    <option selected="selected">#<%= bot.channels.cache.get(settings.reactionLogs).name %></option>
                                                    <% guild.channels.cache.filter((ch) => ch.type === "text" && ch.id !== settings.reactionLogs).forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                        <option>None</option>
                                                <% } else { %>
                                                    <option selected="selected">None</option>
                                                    <% guild.channels.cache.filter((ch) => ch.type === "text").forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                <% } %>
</select>
 <br>                                        
<br>

<div class="checkbox">
 <p>Reaction Role DMs &nbsp;<% if(settings.isPremium == "false"){ %><a href="https://pogy.xyz/premium"><i style="font-size:14px; color: yellow" class="fa">&#xf006;</i></a><% } %>
          <label>
<% if(settings.reactionDM === true) { %>
                                                        <input type="checkbox" name="rrDM" checked>
                                                    <% } else { %>
                                                        <input type="checkbox" name="rrDM">
                                                    <% } %>
                                                </label></p>
                                                 
                                            </div>


<br>
<br>
                                    <div class="box-footer">
                                     

                                            <button type="submit" name="rrUpdate" class="btn btn-primary">Update</button>
                                            <button type="submit" name="wipeRR" class="btn btn-danger pull-right">Wipe Database</button>
                                    </div>





<!-- end of reaction roles -->
  </div>



</div>
   </form>    




</div>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<p style="color: #2B2B2B; font-size: 1px">hello</p>
</div>

<% } else { %>
<p style="color: white; font-size: 52px">Make sure the guild has 1 category and 1 channel.</p>
<% } %>

<% } else { %>
<p style="color: white; font-size: 52px">Make sure the guild has 1 category and 1 channel.</p>
<% } %>
<% } else { %>
<p style="color: white; font-size: 52px">Make sure the guild has 1 role.</p>
<% } %>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js'></script><script>
function myFunction() {
  var checkBox = document.getElementById("welcomeEmbedCheck");
  var text = document.getElementById("welcomeEmbedCheckID");
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
     text.style.display = "none";
  }
}
function myFunction2() {
  var checkBox = document.getElementById("welcomeEmbedFooter");
  var text = document.getElementById("welcomeEmbedFooterID");
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
     text.style.display = "none";
  }
}
function myFunction3() {
  var checkBox = document.getElementById("welcomeEmbedImage");
  var text = document.getElementById("welcomeEmbedImageID");
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
     text.style.display = "none";
  }
}
function myFunction01() {
  var checkBox = document.getElementById("welcomeEmbedCheck1");
  var text = document.getElementById("welcomeEmbedCheckID1");
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
     text.style.display = "none";
  }
}
function myFunction02() {
  var checkBox = document.getElementById("welcomeEmbedFooter1");
  var text = document.getElementById("welcomeEmbedFooterID1");
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
     text.style.display = "none";
  }
}
function myFunction03() {
  var checkBox = document.getElementById("welcomeEmbedImage1");
  var text = document.getElementById("welcomeEmbedImageID1");
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
     text.style.display = "none";
  }
}
function myFunction04() {
  var checkBox = document.getElementById("reactionEmbedFooter");
  var text = document.getElementById("reactionEmbedFooterID");
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
     text.style.display = "none";
  }
}
$('.counting').each(function() {
  var $this = $(this),
      countTo = $this.attr('data-count');
  
  $({ countNum: $this.text()}).animate({
    countNum: countTo
  },

  {

    duration: 3000,
    easing:'linear',
    step: function() {
      $this.text(Math.floor(this.countNum));
    },
    complete: function() {
      $this.text(`${this.countNum}`);
      //alert('finished');
    }

  });  
  

});

$('#textarea1').keypress(function(){

    if(this.value.length > 1024){
        return false;
    }

    $("#remaining1").html("Remaining characters : " + (1024 - this.value.length));
});
$('#textarea2').keypress(function(){

    if(this.value.length > 1024){
        return false;
    }

    $("#remaining2").html("Remaining characters : " + (1024 - this.value.length));
});
$('#textarea3').keypress(function(){

    if(this.value.length > 1024){
        return false;
    }

    $("#remaining3").html("Remaining characters : " + (1024 - this.value.length));
});
$('#textarea4').keypress(function(){

    if(this.value.length > 1024){
        return false;
    }

    $("#remaining4").html("Remaining characters : " + (1024 - this.value.length));
});
$('#textarea5').keypress(function(){

    if(this.value.length > 1024){
        return false;
    }

    $("#remaining5").html("Remaining characters : " + (1024 - this.value.length));
});
$('#textarea6').keypress(function(){

    if(this.value.length > 1024){
        return false;
    }

    $("#remaining6").html("Remaining characters : " + (1024 - this.value.length));
});
$('#textarea7').keypress(function(){

    if(this.value.length > 1024){
        return false;
    }

    $("#remaining7").html("Remaining characters : " + (1024 - this.value.length));
});

</script>

<!-- end cont stats -->
<style>
.drop {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.drop.open {
  z-index: 100;
}
.drop.open .drop-screen {
  z-index: 100;
  display: block;
}
.drop.open .drop-options {
  z-index: 200;
  max-height: 200px;
}
.drop.open .drop-display {
  z-index: 200;
  border-color: #465;
}
.drop select {
  display: none;
}
.drop .drop-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  top: 0px;
  left: 0px;
  opacity: 0;
  display: none;
  z-index: 1;
}

.link {
  text-align: center;
  margin: 20px 0px;
  color:#8CACD7;
}


.drop .drop-display {
  position: relative;
  padding: 0px 20px 5px 5px;
  border: 4px solid #444;
  width: 100%;
  background: #FFF;
  z-index: 1;
  margin: 0px;
  font-size: 16px;
  min-height: 58px;
}
.drop .drop-display:hover:after {
  opacity: 0.75;
}
.drop .drop-display:after {
  font-family: 'Material Icons';
  content: "\e5c6";
  position: absolute;
  right: 10px;
  top: 12px;
  font-size: 24px;
  color: #444;
}
.drop .drop-display .item {
  position: relative;
  display: inline-block;
  border: 2px solid #333;
  margin: 5px 5px -4px 0px;
  padding: 0px 25px 0px 10px;
  overflow: hidden;
  height: 40px;
  line-height: 36px;
}
.drop .drop-display .item .btnclose {
  color: #444;
  position: absolute;
  font-size: 16px;
  right: 5px;
  top: 10px;
  cursor: pointer;
}
.drop .drop-display .item .btnclose:hover {
  opacity: 0.75;
}
.drop .drop-display .item.remove {
  -webkit-animation: removeSelected 0.2s, hide 1s infinite;
          animation: removeSelected 0.2s, hide 1s infinite;
  -webkit-animation-delay: 0s, 0.2s;
          animation-delay: 0s, 0.2s;
}
.drop .drop-display .item.add {
  -webkit-animation: addSelected 0.2s;
          animation: addSelected 0.2s;
}
.drop .drop-display .item.hide {
  display: none;
}
.drop .drop-options {
  background: #444;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 100%;
  max-height: 0px;
  overflow-y: auto;
  transition: all 0.25s linear;
  z-index: 1;
}
.drop .drop-options a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
  color: white;
  position: relative;
  max-height: 40px;
  transition: all 1s;
  overflow: hidden;
}
.drop .drop-options a:hover {
  background: #465;
  cursor: pointer;
}
.drop .drop-options a.remove {
  -webkit-animation: removeOption 0.2s;
          animation: removeOption 0.2s;
  max-height: 0px;
}
.drop .drop-options a.add {
  -webkit-animation: addOption 0.2s;
          animation: addOption 0.2s;
}
.drop .drop-options a.hide {
  display: none;
}

@-webkit-keyframes pop {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes removeOption {
  from {
    max-height: 40px;
  }
  to {
    max-height: 0px;
  }
}
@keyframes removeOption {
  from {
    max-height: 40px;
  }
  to {
    max-height: 0px;
  }
}
@-webkit-keyframes addOption {
  from {
    max-height: 0px;
  }
  to {
    max-height: 40px;
  }
}
@keyframes addOption {
  from {
    max-height: 0px;
  }
  to {
    max-height: 40px;
  }
}
@-webkit-keyframes removeSelected {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes removeSelected {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes addSelected {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes addSelected {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes hide {
  from, to {
    max-height: 0px;
    max-width: 0px;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
  }
}
@keyframes hide {
  from, to {
    max-height: 0px;
    max-width: 0px;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
  }
}

.fa{
  line-height:30px;
  font-size:30px;
  display:inline-bloxk;
  width:35px;
  height:35px;
}
.hidden{
  display:none;
}

input[type=checkbox] + label {
  position:relative;
} 

input[type=checkbox]:checked + label {
  animation: closing 0.3s forwards ease-in-out,
             moving 0.3s forwards ease-in-out;
} 
.pointer-cursor{
   cursor: pointer; cursor: hand;
}
.close{

    float:right;
    color: #b94b45;
    cursor: pointer; cursor: hand;
}

.alert-message{
  background-color: #f2dede;
  border: 1px solid rgba(#34495e, 0.25);
  color: #b94b45;
  border-radius: 3px;
  line-height:30px;
  position: absolute;
  top: 0; left: 0;
  display:block;
  width:100%;
  padding: 12px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, .9);
  box-shadow: 0px 10px 50px rgba(0,0,0,.6);
  background:#34495e;
}

@keyframes closing {
  from {
    opacity: 1; 
  }
  to {
    opacity: 0;
  }
}

@keyframes moving {
  0%, 90% { top: 0; left: 0; }
  100%  { top: -100px; left: 0; }
}

* {
  box-sizing: border-box;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.alertpremium {
  width: 1000px;
  padding: 12px 16px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 12px;
  font-size: 16px;
}
.alertpremium.premium{
  background-color: rgba(248, 215, 218, 1);
  border-color: rgba(220, 53, 69, 1);
  color: rgba(114, 28, 36,1);
}
.alertparagraph{
    display: inline;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.container1-color {

background-color: #2B2B2B;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 100px;
}
.pogy:hover {
  opacity: 0.5;
-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}
.server-image {
width: 119px;
margin-left: 0;
margin-right: 0;
height: 119px;
border-radius: 50%;
transition: transform .2s; /* Animation */
}
.server-image:hover {
transform: scale(1.1); 
}

.guild {
text-align: center;
}
.container {
	 display: flex;
   position: absolute;
   left: 100px;
}
 .rectangle {
	 display: flex;
	 align-items: center;
	 justify-content: flex-start;
	 positon: relative;
	 width: 50px;
	 height: 50px;
	 background: #380848;
	 transform: scale(0);
	 border-radius: 50%;
	 color: white;
	 opacity: 0;
	 overflow: hidden;
	 animation: scale-in 0.3s ease-out forwards, expand 0.35s 0.25s ease-out forwards;
}
 .notification-text {
	 display: flex;
	 align-items: center;
	 padding: 0 16px;
	 font-family: 'Roboto', sans-serif;
	 font-size: 14px;
	 animation: fade-in 0.65s ease-in forwards;
}
 @keyframes scale-in {
	 100% {
		 transform: scale(1);
		 opacity: 1;
	}
}
 @keyframes expand {
	 50% {
		 width: 350px;
		 border-radius: 6px;
	}
	 100% {
		 width: 300px;
		 border-radius: 4px;
		 box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2), 0px 1px 1px 0px rgba(0, 0, 0, .14), 0px 3px 3px -1px rgba(0, 0, 0, .12);
	}
}
 @keyframes fade-in {
	 0% {
		 opacity: 0;
	}
	 100% {
		 opacity: 0.8;
	}
}
.select {
  position: relative;
  min-width: 186px;
  min-height: 30px
}
.select svg {
  position: absolute;
  right: 12px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: #9098a9;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}
.select select {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  width: 100%;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}
.select select:required:invalid {
  color: #5a667f;
}
.select select option {
  color: #223254;
}
.select select option[value=""][disabled] {
  display: none;
}
.select select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
}
.select select:hover + svg {
  stroke: #07f;
}
.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}
.container-1 {

padding: 50px 0
 margin: 25px 50px 75px 700px;

width: 100%;

}
.container-1 .user-box {
  position: relative;
}

.container-1 .user-box input {

  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.container-1 .user-box label {
  position: absolute;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.container-1 .user-box input:focus ~ label,
.container-1 .user-box input:valid ~ label {
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
.members {
display: flex;
-webkit-box-align: center;
align-items: center;
}
.pogy {
	box-shadow: 0px 3px 0px 0px #0d1520;
	background-color:#2f4e78;
	border-radius:30px;
	border:1px solid #0d1520;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:13px 23px;
	text-decoration:none;
	text-shadow:0px 2px 4px #0d1520;
	&:hover {
	background-color:#1b293b;
}
 &:active {
	position:relative;
	top:1px;
}

 /*
=====
DEPENDENCES
=====
*/

/* 
helper to reset default browser's styles from headings
*/

.r-title{
    margin-top: var(--rTitleMarginTop, 0) !important;
    margin-bottom: var(--rTitleMarginBottom, 0) !important;
}

/* 
helper to hide elements that are available only for screen readers. 
*/

.screen-reader{
  width: var(--screenReaderWidth, 1px) !important;
  height: var(--screenReaderHeight, 1px) !important;
  padding: var(--screenReaderPadding, 0) !important;
  border: var(--screenReaderBorder, none) !important;

  position: var(--screenReaderPosition, absolute) !important;
  clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
  overflow: var(--screenReaderOverflow, hidden) !important;
}

/*
=====
POPUP
=====
*/

/*
1. Creating the top and bottom gaps for the modal so that content doesn't touches window's edges
*/

.popup:not(:target){
  display: none;
}

.popup:target{
  width: 100%;
  height: 100vh;
  
  display: flex;
 
  position: fixed;
  top: 0;
  right: 0;  
}

.popup::before{
  content: "";
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;

  position: fixed;
  left: 0;
  top: 50%;
}

.popup::after{
  content: "";
  width: 0;
  height: 2px;
  background-color: #f0f0f0;

  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
}

.popup__container{
  box-sizing: border-box;  
  padding: 5% 15%;

  height: calc(100vh - 40px); /* 1 */
  margin: auto; /* 1 */
  overflow: auto; /* 1 */
  overscroll-behavior: contain; /* 1 */
}

.popup__title{
  --rTitleMarginBottom: 1.5rem;
  font-size: 1.5rem;
}

.popup__close{
  width: 2rem;
  height: 2rem;

  position: fixed;
  top: 1.5rem;
  right: 1.5rem;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}

/*
animation
*/

.popup::before{
  will-change: height, top;
  animation: open-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) .65s both;
}

.popup::after{
  will-change: width, opacity;
  animation: line-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
}

@keyframes line-animation{

  0%{
    width: 0;
    opacity: 1;
  }

  99%{
    width: 100%;
    opacity: 1;
  }

  100%{
    width: 100%;
    opacity: 0;
  }  
}

@keyframes open-animation{

  0%{
    height: 0;
    top: 50%;
  }

  100%{
    height: 100vh;
    top: 0;
  }
}

.popup__container{
  animation: fade .5s ease-out 1.3s both;
}

@keyframes fade{

  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}





</style>


<%- include("partials/footer") %>
